.main-title {
  font-family: var(--primary-font-family);
  margin-bottom: 2em;
}

.date-input {
  border-radius: 1.5em;
  color: #2c3e50;
}

.photo-list {
  /* background-color: var(--primary-text-color); */
  color: var(--secondary-text-color);
  font-family: var(--secondary-font-family);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2em;
  margin: 1em 3em 2em 3em;
}

.photo-list__description {
  font-size: 1.2em;
  font-weight: 400;
  grid-area: 1/1/2/4;
  text-align: center;
  margin: 1em;
}

main {
  width: 100vw;
  margin: 0;
}

main a {
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-size: 1.2em;
  font-weight: 700;
  color: var(--primary-text-color);
}
