.rover-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
  margin: 0 6em 0 6em;
}

.rover {
  background-color: #3c4c5c;
  border-radius: 2em;
}

.rover-image {
  width: 15em;
  height: auto;
  border-radius: 2em;
  border: 2px solid #2c3e50;
  margin-top: 0.8em;
}

.rover h3 {
  margin-top: 0.5em;
}

.rover a {
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-size: 1.5em;
  color: bisque;
}

.rover span {
  font-family: var(--secondary-font-family);
  color: var(--secondary-text-color);
  font-size: 1em;
}

.rover p {
  font-family: var(--secondary-font-family);
  font-size: 1.1em;
  font-weight: 900;
  color: var(--highlight-text-color);
  margin: 0.8em;
}

.footer {
  padding: 3em;
}
